@font-face{
    font-family: 'variable';
    src: url(../fonts/playfair/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'raleway-variable';
    src: url(../fonts/raleway/Raleway-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'regular';
    src: url(../fonts/ptserif/PTSerif-Regular.ttf);
}
@font-face{
    font-family: 'bold';
    src: url(../fonts/ptserif/PTSerif-Bold.ttf);
}
